.header {
    padding: 0 100px;
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--white);
    z-index: 4;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar {
    height: 100%;
}

.navbar > ul {
    height: 100%;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    justify-items: center;
}

.navbar > ul > li {
    list-style: none;
    height: 100%;
    width: 80px;

    display: flex;
    align-items: center;
}

.navbar > ul > li > a {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0 auto;
    text-decoration: none;
    height: 100%;
    width: 100%;
    color: var(--dark-blue);
    font-size: .8rem;
    font-weight: 200;
    border-bottom: 5px solid transparent;
}

.navbar > ul > li > a:hover {
    font-weight: 600;
    border-bottom-color: var(--gradient);
}

.header .btn {
    padding: 10px 30px;
    border-radius: 20px;
    border: none;
    background: var(--gradient);
    
    color: var(--white);
    font-weight: 600;
    cursor: pointer;
}

main {
    margin-top: 80px;
}

#home-section {
    background-color: var(--very-light-gray);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
    width: 100%;
    overflow-y: hidden;
    height: 650px;

    padding-left: 100px;
    
    display: grid;
    grid-template-columns: 40% auto;
}

#home-section .text-container {
    padding-top: 130px;
    color: var(--dark-blue);
}

#home-section .text-container > h1 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 20px;
}

#home-section .text-container > p {
    font-weight: 300;
    line-height: 25px;
    margin-bottom: 30px;
}

#home-section .text-container > button {
    padding: 10px 25px;
    border-radius: 20px;
    border: none;
    background: var(--gradient);
    
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
}

#home-section .img-container .phones-img {
    position: absolute;
    z-index: 4;
    top: -95px;
    right: -100px;

    max-width: 650px;
    width: 100%;
}

#home-section .img-container .bg-img {
    position: absolute;
    top: -220px;
    right: -300px;
    z-index: 2;

    width: 1050px;
    max-width: 100%;
}

#about-section {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 80px 100px;
    top: -80px;

    background-color: var(--light-grayish-blue);
    color: var(--dark-blue);
}


#about-section > h3 {
    font-size: 2rem;
    font-weight: 400;

    margin-bottom: 30px;
}

#about-section > p {
    margin-top: 5px;
}

#about-section .cards-container {
    margin-top: 80px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 20px;
}

#about-section .articles > img {
    margin-bottom: 30px;
}

#about-section .articles > h4 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 30px;
}

#about-section .articles > p {
    font-size: .89rem;
    font-weight: 300;
    line-height: 25px;
}

#blog-section {
    padding: 80px 80px 100px 100px;
    position: relative;
    top: -80px;

    background-color: var(--very-light-gray);
    color: var(--dark-blue);
}

#blog-section > h3 {
    font-size: 2rem;
    font-weight: 400;
}

#blog-section .blog-card-container {
    margin-top: 50px;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
}

#blog-section .blog-card-container > article {
    display: grid;
    grid-template-rows: 200px 1fr;
    grid-auto-rows: 1fr;
    border-radius: 5px;
    background-color: var(--white);
}

#blog-section .blog-card-container > article > img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 4/3;
}

#blog-section .blog-card-container > article .text-container {
    padding: 25px;
}

#blog-section .blog-card-container > article .text-container .author {
    font-size: .6rem;
    margin-bottom: 20px;
}

#blog-section .blog-card-container > article .text-container .title {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

#blog-section .blog-card-container > article .text-container .description {
    font-size: .7rem;
    font-weight: 200;
}

#blog-section .blog-card-container > article .text-container .title:hover {
    color: var(--bright-cyan);
    cursor: pointer;
}